


.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-around;

}

.ticket {
  border: solid navy;
  margin-top: 30px;
  /* background-color: blue; */
  background-image: url('https://i.pinimg.com/originals/21/de/fa/21defa026bbaeb15073cddc6340a9080.gif');
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  height: 480px;
  width: 330px;
}
  

  
img {
  object-fit:contain;
  width: 230px;
  height: 230px;
  
}

header h1{
  color: purple;
  

}
  
li {
  list-style-type: none;
}
  


